doctype html
html()
  head
    meta(charset='utf-8')
    script(type='text/javascript', src="/js/vue2611.js")
    script(type='text/javascript', src="/js/buefy.js")
    script(type='text/javascript', src="/js/axios.js")

    link(rel='stylesheet', href='/css/buefy.css')
    style.
      .tile {
        display: flex;
      }
    title 인터페이스 클라이언트

body
  div
    #app
      .tile(style="position:fixed;width:100%;z-index:100;background:white;")
        b-button(@click='prev()' style="margin-right:auto;") Prev
        b-button(@click='next()' style="margin-left:auto;") Next
      .tile.is-vertical(v-if='e.isVisible' v-for='(e, i) in element' style="position:relative;")
        img(:src='e.imgSrc' style="width:100%;margin:auto;")
        b-message(size="is-large" closable='false' style="position:absolute;top: 1em;right: 50%;")
          h2 Index: {{i}}
				

script(type="text/javascript").
  let baseURL = "#{axiosAddr}"
  function log(str) {
    console.log(str)
  }

  let v = new Vue({
      el: '#app',
      components: {
      },
      data: {
        element:[],
        index: 0
      },
      methods: {
        refresh: function() {
          for(let i = 0; i < 20; i++)
          {
            this.element[i].isVisible = false
            if(i >= this.index - 2 && i <= this.index + 2)
              this.element[i].isVisible = true
          }
          window.scroll(0, 0)
        },
        next: function() {
          this.index += 5
          if(this.index >= 200) this.index = 199
          this.refresh()
        },
        prev: function() {
          this.index -= 5
          if(this.index < 0) this.index = 0
          this.refresh()
        }
      },
      computed: {
      },
      created()
      {

      },
      mounted()
      {
        for(let i = 0; i < 200; i++)
          this.element.push({isVisible: false, imgSrc: `/img/img${i}`})
        /*
        let thisVar = this
        window.onscroll = function(ev) {
            console.log(window.innerHeight, window.scrollY, document.body.offsetHeight)
            if ((window.innerHeight + window.scrollY + 1) >= document.body.offsetHeight) {
              thisVar.next()
            }
        }*/

      }
  })










