doctype html
html()
  head
    meta(charset='utf-8')
    script(type='text/javascript', src="/js/vue2611.js")
    script(type='text/javascript', src="/js/buefy.js")
    script(type='text/javascript', src="/js/axios.js")
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    
    link(rel='stylesheet', href='/css/buefy.css')
    style.
      .tile {
        display: flex;
      }
      .b-span {
        display:inline-block;
        width: 0.5em;
      }
      h1 {
        font-size: 16pt;
      }
      h2 {
        font-size: 15pt;
      }
      .dot {
        height: 1.6em;
        width: 1.6em;
        border: 1px solid black;
        border-radius: 50%;
        display: inline-flex;
      }
    title 인터페이스 클라이언트

body
  div
    #app
      .tile.is-vertical(style="position:fixed;width:100%;z-index:100;background:white;")
        h1(style="margin:auto;") INFINITE-SCROLL-ACTION
        .tile
          b-button(@click='prev()' style="margin-right:auto;") Prev
          b-button(@click='sort("오름차순")' style="margin-left:auto;") Sort ascending
          b-button(@click='sort("내림차순")' style="margin-left:auto;") Sort descending
          h1 {{startIndex + 1}}-{{startIndex + pageSize - 1 >= contentList.length ? contentList.length : startIndex + pageSize}}
          b-button(@click='next()' style="margin-left:auto;") Next
      div(style="height: 5em;")
      .tile.is-vertical(v-if='e.isVisible' v-for='(e, i) in contentList' style="position:relative;padding:1em;padding-bottom:0;")
        h2
          .dot
            span(style="margin:auto") {{e.contentIdx + 1}}
          .b-span
          span {{e.titleKo}}
        div(style="height:1em;")
        p {{e.authorKo}}
        p {{e.contentTitleKo}}

        div(style="height:1em;")
        img(:src='e.image1' style="width:25%;margin:auto;")
        //-b-message(size="is-large" closable='false' style="position:absolute;top: 1em;right: 50%;")
          h2 startIndex: 
				

script(type="text/javascript").
  let baseURL = "#{axiosAddr}"
  function log(str) {
    console.log(str)
  }

  let v = new Vue({
      el: '#app',
      components: {
      },
      data: {
        length:20,
        contentList: [],
        pageSize: 5,
        startIndex: 0
      },
      methods: {
        dummyPromise: function(cmd, obj) {
          return new Promise ((resolve, reject) => {
            setTimeout(() => {
              let result = []
              function num(num)
              {
                if(num < 10) return `0${num}`
                return num
              }
              for(let i = 0; i < v.length; i++)
                result.push(                {
                  categoryTitleKo: `${num(i)}) 살았으며, 물방아 소금이라 착목한는 길을 뛰노는 피가 현저하게 두기 보라.`,
                  categoryTitleEn: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
                  authorKo: '홍길동',
                  authorEn: 'Timothy',
                  contentIdx: i,
                  titleEn: 'Semper eget duis at tellus at urna condimentum mattis pellentesque.',
                  titleKo: '부패를 청춘을 봄날의 하여도 그것은 현저하게 위하여서, 황금시대다. 하는 방황하였으며, 얼음에 보이는 무엇이 그리하였는가? 되려니와, 얼마나 하여도 반짝이는 교향악이다.',
                  image1: `/img/img${i}`
                })

              if(cmd == '성공') resolve({data:{result: result}})
              else reject(null)

            }, 3000)
          })
        },
      	async getContentListAll(year) {
          await this.dummyPromise('성공', {
            category: '전시 프로그램',
            year: year
          }).then(res => {
            const data = res.data.result
            const list = []
            data.map(item => {
              list.push({
                titleKo: item.categoryTitleKo,
                titleEn: item.categoryTitleEn,
                authorKo: item.authorKo,
                authorEn: item.authorEn,
                contentIdx: item.contentIdx,
                contentTitleEn: item.titleEn,
                contentTitleKo: item.titleKo,
                image1: item.image1,
                isVisible: false
              })
            })
            this.contentList = list
            //this.contentList = list.slice(0, 10)
          })
        },        
        refresh: function() {
          function between(a, b, c)
          {
            if(a <= b && b <= c) return true 
            return false
          }
          for(let i = 0; i < this.contentList.length; i++)
          {
            this.contentList[i].isVisible = false
            if(between(this.startIndex, i, this.startIndex + this.pageSize - 1))
              this.contentList[i].isVisible = true
          }
          window.scroll(0, 0)
        },
        next: function() {
          this.startIndex += this.pageSize
          if(this.startIndex >= this.contentList.length) this.startIndex = this.contentList.length - 1
          this.refresh()
        },
        prev: function() {
          this.startIndex -= this.pageSize
          if(this.startIndex < 0) this.startIndex = 0
          this.refresh()
        },
        sort: function(cmd) {
          if(cmd == '오름차순')
          {
            this.contentList.sort(function(a, b) {
              if(a.titleKo < b.titleKo) return -1
              if(a.titleKo > b.titleKo) return 1
              return 0
            })

          } 
          else
          {
            this.contentList.sort(function(a, b) {
              if(a.titleKo < b.titleKo) return 1
              if(a.titleKo > b.titleKo) return -1
              return 0
            })

          }
          this.refresh()
        }
      },
      computed: {
      },
      created()
      {

      },
      async mounted()
      {
        await this.getContentListAll(2021)
        swal({icon: "success", text: 'Load Finished.'})
        /*
        let thisVar = this
        window.onscroll = function(ev) {
            console.log(window.innerHeight, window.scrollY, document.body.offsetHeight)
            if ((window.innerHeight + window.scrollY + 1) >= document.body.offsetHeight) {
              thisVar.next()
            }
        }*/
      }
  })
